<div class="d-flex justify-content-between align-items-center w-100 p-1 rounded my-4" dir="rtl" style="color: gray; transition: .3s ease-in-out; cursor: pointer;" (mouseenter)="cardHover()" (mouseleave)="cardOffHover()" [class]="CardHover">
    <div class="col-3 pe-5">
        <img [src]="url" alt="" width="100px" height="100px">
    </div>
    
    <div class="col-6">
        <h5 class="mt-2">{{ title }}</h5>
        <span class="my-2"></span>
        <div class="d-flex justify-content-between">
            <p>UI/UX طراحی گرافیک اختصاصی</p>
            <p>قالب اختصاصی وردپرس</p>
            <p>کد نویسی فرانت اند</p>
            <p>کد نویسی اندروید</p>
        </div>
        <p style="color: blue;" class="mt-2">{{ siteLink }}</p>
    </div>
    
    <div class="col-3 d-flex justify-content-center align-items-center flex-column pe-5">
        <div><img src="../../../assets/imgs/105220.svg" width="30px" height="40px"></div>
        <p class="mt-2">لایک {{ like }}</p>
    </div>
</div>