
<div style="background-color: white;" class=" d-flex align-items-center justify-content-between my-2 rounded-3 shadow-sm text-secondary px-4 container" dir="rtl">
        <!-- right div -->
        <div style="font-size: 14px; " class="d-flex  justify-content-between align-items-center col-5 py-4 mt-2 ">
            <mat-icon class="mb-2">sort</mat-icon>
            <div class="d-flex justify-content-between col-11 mt-2 margin-left">
                <p>جدید ترین</p>
                <p>قدیمی ترین</p>
                <p>بر اساس حروف الفبا</p>
                <p>پروژه های فعال</p>
            </div>
        </div>
        <!-- left div -->
        <div  class="col-6 py-3 d-flex justify-content-start ">
    
            <div class=" fs-m-2 d-flex align-items-center " >
                <label for="">جست وجو تیتر</label>
                <input class="form-control mx-3 w-50 h-75" type="text">
            </div>
    
            <div class=" fs-m-2 d-flex align-items-center " >
                <label for="">جستجوی نام</label>
                <input class="form-control mx-3 w-50 h-75" type="text">
            </div>
    
            <div class=" fs-m-2 d-flex align-items-center " >
                <label for="">جستجوی id</label>
                <input class="form-control mx-3 w-50 h-75" type="text">
            </div>
    
    </div>
</div>