<section dir="rtl">

    <div class=" mt-4">
        <p class=" h3" dir="rtl">پروژه ها</p>
        <div class="mt-2 ">
            <span class="line" ></span>
        </div>
    </div>

    <div class="d-flex container">
            <div class="col-9">
                <p class="mt-4 h2">تعریف پروژه جدید</p>
                <div class="d-flex justify-content-between">
                    <div class="mt-4 col-5">
                        <label class="fw-light " for="" dir="rtl">عنوان پروژه</label>
                        <input class="form-control mt-3 " type="text">
                    </div>
        
                    <div class="mt-4 col-5">
                        <label class="fw-light" for="" dir="rtl">فرد تشکیل دهنده پروژه</label>
                        <input class="form-control mt-3" type="text">
                    </div>
                </div>
        
                <label  class="mt-4 fs-m-3 fw-light " for="">وضعیت</label>
                <input  class="form-control mt-3" type="text">
        
                <p class="mt-4 h4">نوع</p>
                
                <div class="d-flex mt-4">
        
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <p class="ms-3"> سایت فروشگاهی</p>
                            </label>
                          </div>
                    </div>
        
                    <div class="mx-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <p class="ms-3">  سایت خدماتی</p>
                            </label>
                          </div>
                    </div>
        
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <p class="ms-3"> سایت معمولی</p>
                            </label>
                          </div>
                    </div>
        
                </div>
        
                <p class="mt-4 fs-m-3">توضیحات</p>
        
                <textarea class="form-control" name="" id="" cols="50" rows="6"></textarea>

                <div class="mt-5" dir="ltr">
                    <button class="btn btn-primary">ثبت نهایی</button>
                    <button class="btn btn-outline-primary mx-3 p-2">مشاهده امکانات</button>
                    <button class="btn btn-outline-danger px-4">خروج</button>
                </div>
        
            </div>

            <div class="mt-4 col-4 d-flex flex-column align-items-center ">
                <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" width="90px">
                <button class="btn btn-primary px-5 mt-4 w-50">فایل پیوست</button>
                <p class="fs-m-2 mt-3">فایل پیوست نباید بیشتر از 3 مگابایت باشد</p>
                <button class="btn btn-primary px-5 w-50">فایل قرار داد</button>
                <p class="fs-m-2 mt-3">فایل قرار داد نباید بیشتر از 10 مگابایت باشد</p>
            </div>
    </div>


</section>
