<app-adminuser-header></app-adminuser-header>
<section class="container d-flex justify-content-between mt-5" dir="rtl">
    <div class="col-9">
        <div>
            <p class="fw-bold">اطلاعات شخصی</p>
            <form>
                <div class="d-flex justify-content-between form-row">
                  <div class="form-group col-5">
                    <label class="mb-2" for="inputEmail4">id</label>
                    <input class="mb-2" type="tel" class="form-control" id="inputEmail4" placeholder="">
                  </div>
                  <div class="form-group col-6">
                      <label class="mb-2" for="inputPassword4">لقب</label>
                      <input class="mb-2" type="text" class="form-control" id="inputPassword4" placeholder="">
                  </div>
                  
                </div>

                <div class="d-flex mt-4 justify-content-between form-row">
                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">نام</label>
                      <input class="mb-2" type="text" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label class="mb-2" for="inputPassword4">نام خانوادگی</label>
                        <input class="mb-2" type="text" class="form-control" id="inputPassword4" placeholder="">
                    </div>
                    
                  </div>

                  <div class="d-flex mt-4 justify-content-between form-row">
                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">کد ملی</label>
                      <input class="mb-2" type="tel" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label class="mb-2" for="inputPassword4">ایمیل</label>
                        <input class="mb-2" type="email" class="form-control" id="inputPassword4" placeholder="">
                    </div>
                    
                  </div>

                  <div class="d-flex mt-4 justify-content-between form-row">
                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">تلفن همراه</label>
                      <input class="mb-2" type="tel" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                <div class="form-group d-flex col-6">
                    <div class="col-3">
                        <label class="mb-2"  for="inputPassword4">روز</label>
                        <select class="form-select form-select" dir="ltr" aria-label=".form-select-sm example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="col-3 mx-5">
                        <label class="mb-2" for="inputPassword4">ماه</label>
                        <select class="form-select form-select" dir="ltr" aria-label=".form-select-sm example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="col-3">
                        <label class="mb-2" for="inputPassword4">سال</label>
                        <select class="form-select form-select" dir="ltr" aria-label=".form-select-sm example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    </div>
                </div>

                <div class="d-flex mt-4 justify-content-between form-row">
                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">پسورد</label>
                      <input class="mb-2" type="password" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label class="mb-2" for="inputPassword4">تکرار پسورد</label>
                        <input class="mb-2" type="password" class="form-control" id="inputPassword4" placeholder="">
                    </div>
                </div>

                <p class="fw-bold mt-4">اطلاعات حقوقی کاربر</p>
                <div class="d-flex justify-content-between form-row">
                    <div class="form-group col-12">
                      <label class="mb-2" for="inputEmail4">شماره شبا</label>
                      <input class="mb-2" type="email" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                </div>

                <div class="d-flex mt-4 justify-content-between form-row">
                    <div class="form-group col-12">
                      <label class="mb-2" for="inputEmail4">کد بیزینسی</label>
                      <input class="mb-2" type="email" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                </div>

                <div class="d-flex mt-4 justify-content-between form-row">
                    <div class="form-group col-12">
                      <label class="mb-2" for="inputEmail4">رجیستر کد</label>
                      <input class="mb-2" type="email" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                </div>

                <div class="col-3 mt-3 w-100">
                    <label class="mb-2" for="inputPassword4">نوع اکانت</label>
                    <select class="form-select form-select" aria-label=".form-select-sm example">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>

            </form>
        </div>

        <div class="mt-4" dir="ltr">
            <button class="btn btn-primary">ثبت نهایی</button>
            <button class="btn btn-secondary mx-3">خروج</button>
        </div>
    </div>

    <div class="col-4">
        <div class="d-flex flex-column align-items-center">
            <div>
                <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="75px" alt="">
            </div>
            <div class="mt-2">
                <button class="" class="btn btn-primary">درج فایل پیوست</button>
            </div>
            <div class="mt-2">
                <p class="fs-m-2">فایل پیوست پروفایل نباید بیشتر از 3 مگابایت باشد</p>
            </div>
        </div>
    </div>
</section>

