<section class="d-flex justify-content-center align-items-center container mt-3" dir="rtl" style="height: 80px;">
    <div class="col-1 bg-dark text-primary d-flex justify-content-center align-items-center rounded h-100">
        <p class="h1 mt-2">{{number}}</p>
    </div>
    
    <div class="bg-white d-flex justify-content-between align-items-center col-11 p-3 rounded h-100 mx-4 border">
        <div>{{title}}</div>
        <small class="text-secondary">{{description}}</small>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <mat-icon>file_copy</mat-icon>
                <input type="checkbox" class="mt-2">
            </div>
            <div class="d-flex flex-column mx-3">
                <mat-icon>edit</mat-icon>
                <input type="checkbox" class="mt-2">
            </div>
            <div class="d-flex flex-column">
                <mat-icon style="color: #E75444 !important;" for="b">delete</mat-icon>
                <input type="checkbox" class="mt-2" id="b">
            </div>
        </div>

        <!-- <div class="d-flex justify-content-around align-items-center col-2">
            <div>
                <input type="checkbox">
            </div>
            <div class="mt-2">
                <p>مشاهده بیشتر ></p>
            </div>
        </div> -->
    </div>
</section>