<mat-drawer-container class="example-container" style="height: 100vh;" autosize >
    <mat-drawer #drawer class="example-sidenav bg-dark" mode="side" position="end" (mouseleave)="[drawer.close(), LittleNav()]">
        <div class="d-flex justify-content-start p-2 bg-secondary" [routerLink]="['/admin/dashboard']" style="cursor: pointer;">
            <div>
                <img src="../../../assets/imgs/Logo-Nicode copy-fin3.png" width="50px" alt="">
            </div>

            <div class="d-flex flex-column justify-content-center ms-2 text-white">
                <small class="fw-bold">NICODE</small>
                <small>Hi, Mobin!</small>
            </div>
        </div>

        <div class="d-flex flex-column align-items-end text-white">
            <section class="d-flex align-items-center justify-content-end w-100 p-2" [routerLink]="['/admin/dashboard']"
            routerLinkActive="bg-primary" style="cursor: pointer;" (mouseenter)="first()" (mouseleave)="first()">
                <p class="mt-3 me-3">داشبورد</p>
                <mat-icon style="font-size: 25px;" class="me-4"> dashboard</mat-icon>
            </section>

            <section class="w-100"
             style="cursor: pointer;"  >
                <div class="d-flex align-items-center justify-content-between w-100 p-2" 
                routerLinkActive="bg-primary" style="cursor: pointer;" (click)="second()">
                    <mat-icon class="ms-3"  [class]="rotateArrow2">keyboard_arrow_left</mat-icon>
    
                    <div class="d-flex align-items-center justify-content-end" routerLinkActive="bg-primary" [routerLink]="['/admin/admin']">
                        <p class="mt-3 me-3">مدیریت</p>
                        <mat-icon style="font-size: 25px;" class="me-4">person</mat-icon>
                    </div>
                </div>

                <div [class]="openSubmenu2">
                    <div class="d-flex align-items-center justify-content-end w-100 p-2 flex-column">
                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" routerLinkActive="bg-primary" [routerLink]="['/admin/admin/management']">
                            <p class=" fs-m-2 mt-3">مدیریت ادمین</p>

                        </div>

                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" routerLinkActive="bg-primary" [routerLink]="['/admin/admin/user-project']">
                            <p class=" fs-m-2 mt-3">مدیریت کاربر</p>

                        </div>

                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" routerLinkActive="bg-primary" [routerLink]="['/admin/admin/project']">
                            <p class=" fs-m-2 mt-3">مدیریت پروژه</p>

                        </div>

                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" routerLinkActive="bg-primary" [routerLink]="['/admin/admin/role-management']">
                            <p class=" fs-m-2 mt-3">مدیریت نقش ها</p>

                        </div>

                        <section class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100 p-2" [routerLink]="['/admin/admin/worksample']" routerLinkActive="bg-primary"
                             style="cursor: pointer;" (click)="first1()">
                                <mat-icon class="ms-3"  [class]="rotateArrow11">keyboard_arrow_left</mat-icon>
                
                                <div class="d-flex align-items-center justify-content-end">
                                    <p class="mt-3 me-3">نمونه کارها</p>
                                    <mat-icon style="font-size: 10px;" class="me-4 mt-3">group_work</mat-icon>
                                </div>
                            </div>
            
                            <div [class]="openSubmenu11">
                                <div class="d-flex align-items-center justify-content-end w-100 p-2 flex-column">
                                    <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/admin/worksample/worksample']"
                                    [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                                        <p class=" fs-m-2">نمایش</p>
            
                                    </div>
            
                                    <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/admin/worksample/category']"
                                    [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                                        <p class=" fs-m-2">دسته بندی</p>
            
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            <section class="d-flex align-items-center justify-content-end w-100 p-2" [routerLink]="['/admin/payment']"
            routerLinkActive="bg-primary" style="cursor: pointer;">
                <p class="mt-3 me-3" >پرداخت</p>
                <mat-icon style="font-size: 25px;" class="me-4">shopping_cart</mat-icon>
            </section>
            
            <section class="w-100" >
                <div class="d-flex align-items-center justify-content-between w-100 p-2" [routerLink]="['/admin/ticket']"
                routerLinkActive="bg-primary" style="cursor: pointer;" (click)="third()">
                    <mat-icon class="ms-3"  [class]="rotateArrow3">keyboard_arrow_left</mat-icon>
    
                    <div class="d-flex align-items-center justify-content-end">
                        <p class="mt-3 me-3">تیکت</p>
                        <mat-icon style="font-size: 25px;" class="me-4">message</mat-icon>
                    </div>
                </div>

                <div [class]="openSubmenu3">
                    <div class="d-flex align-items-center justify-content-end w-100 p-2 flex-column">
                    
                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded"
                        [routerLinkActive]="['bg-primary']" style="cursor: pointer;" [routerLink]="['/admin/ticket/ticket']">
                            <p class=" fs-m-2 mt-3">تیکت ها</p>

                        </div>
                        
                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/ticket/category']"
                        [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                            <p class=" fs-m-2 mt-3">دسته بندی</p>

                        </div>

                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/ticket/status']"
                        [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                            <p class=" fs-m-2 mt-3">وضعیت</p>

                        </div>

                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/ticket/priority']"
                        [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                            <p class=" fs-m-2 mt-3">نوع تیکت</p>

                        </div>
                    </div>
                </div>
            </section>


            <section class="d-flex align-items-center justify-content-end w-100 p-2" [routerLink]="['/admin/counseling']"
            routerLinkActive="bg-primary" style="cursor: pointer;">
                <p class="mt-3 me-3">مشاوره</p>
                <mat-icon style="font-size: 25px;" class="me-4"> people</mat-icon>
            </section>

            <section class="d-flex align-items-center justify-content-end w-100 p-2" [routerLink]="['/admin/contact']"
            routerLinkActive="bg-primary" style="cursor: pointer;">
                <p class="mt-3 me-3">تماس باما</p>
                <mat-icon style="font-size: 25px;" class="me-4">phone</mat-icon>
            </section>




            <section class="w-100">
                <div class="d-flex align-items-center justify-content-between w-100 p-2"
                routerLinkActive="bg-primary" style="cursor: pointer;" [routerLink]="['/admin/more']" (click)="forth()">
                    <mat-icon class="ms-3"  [class]="rotateArrow4">keyboard_arrow_left</mat-icon>
    
                    <div class="d-flex align-items-center justify-content-end">
                        <p class="mt-3 me-3">دیگر</p>
                        <mat-icon style="font-size: 25px;" class="me-4">more</mat-icon>
                    </div>
                </div>

                <div [class]="openSubmenu4">
                    <div class="d-flex align-items-center justify-content-end w-100 p-2 flex-column">
                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/more/checkbox']"
                        [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                            <p class=" fs-m-2 mt-3">چکباکس ها</p>

                        </div>

                        <div class="d-flex justify-content-center align-items-center py-2 w-100 rounded" [routerLink]="['/admin/more/notifications']"
                        [routerLinkActive]="['bg-primary']" style="cursor: pointer;">
                            <p class=" fs-m-2 mt-3">نوتیفیکیشن ها</p>

                        </div>
                    </div>
                </div>
            </section>

            

        </div>
    </mat-drawer>  

    <div class="bg-dark text-white" style="position: absolute; top: 0;bottom: 0;;right: 0;" (mouseenter)="[drawer.open(), LittleNav()]" *ngIf="littleNav">
        <div class="d-flex justify-content-center p-2 bg-secondary">
            <img src="../../../assets/imgs/Logo-Nicode copy-fin3.png" width="50px" alt="">
        </div>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/dashboard']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;">dashboard</mat-icon>
        </section>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/admin']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;"> person</mat-icon>
        </section>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/payment']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;">shopping_cart</mat-icon>
        </section>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/ticket']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;">message</mat-icon>
        </section>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/counseling']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;">people</mat-icon>
        </section>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/contact']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;">phone</mat-icon>
        </section>

        <section class="d-flex align-items-center justify-content-center p-4" [routerLink]="['/admin/more']"
        routerLinkActive="bg-primary">
            <mat-icon style="font-size: 25px;">more</mat-icon>
        </section>
    </div>
    <div style="height: 100vh;overflow: auto; direction: rtl;">
        <app-adminuser-header></app-adminuser-header>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>  