.example-container {
    position: absolute !important;
    width: 250px;
    height: 300px;
    background-color: transparent;
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    display: flex;
    justify-content: center;
    width: 250px;
    overflow: hidden;
}