<section dir="rtl" class=" bg-white container d-flex flex-column justify-content-around">
    <!-- tittle -->
    <div>
        <p class="h5">ساخت دسته بندی جدید</p>
        <p class="text-secondary fs-m-3">تیتر و اسم انتخابی خود را در فیلد مد نظر بنویسید</p>
    </div>

    <!-- inputs -->
    <div class="d-flex justify-content-between">

        <div class="">
            <label class="text-secondary mb-2" for="">تیتر</label>
            <input class="form-control h-50 px-4" type="text">
        </div>
        <div class="">
            <label class="text-secondary mb-2" for="">نام</label>
            <input class="form-control h-50 px-4" type="text">
        </div>

    </div>
    <!-- textarea -->
    <div>
        <label class="text-secondary mb-2" for="">توضیحات</label>
        <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
    </div>
    <!-- btns -->
    <div class="d-flex justify-content-end fs-m-1 ">
        <button class="btn btn-secondary px-4 fs-m-2 mx-2">خروج</button>
        <button class="btn btn-primary px-4 fs-m-2">ثبت</button>
    </div>
