.box-space{
    margin-right: 10px;
}

.card-space{
    margin-right: -5px;
}

.space-check{
    margin-top: 14px;
}

.btn-size{
    width: 130px;
}

.h{
    height: 190px;
}

.checkbox-w{
    margin-left: -30px;
}