<app-adminuser-header></app-adminuser-header>
<section class="d-flex flex-column py-3 container ">

    <app-card10 class="mt-2" [editUrl]="'/admin/admin/project/edit'" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mt-2" [editUrl]="'/admin/admin/project/edit'" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mt-2" [editUrl]="'/admin/admin/project/edit'" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mt-2" [editUrl]="'/admin/admin/project/edit'" [openDialog]="openDialog"></app-card10>

</section>