
<!-- <button class="btn btn-primary">hani</button>
<button class="btn btn-secondary">hani</button>
<button class="btn btn-outline-primary">hani</button>
<button class="btn btn-danger">mobin</button>
<button class="btn btn-outline-danger">mobin</button>

<div class="bg-primary">
    <h1>mobin</h1>
    <h3>this is mobin</h3>
</div>

<div class="bg-success">
    <h1>mobin</h1>
    <h3>this is mobin</h3>
</div>

<div class="bg-dark">
    <h1>mobin</h1>
    <h3>this is mobin</h3>
</div>

<div class="bg-secondary">
    <h1>mobin</h1>
    <h3>this is mobin</h3>
</div>
 -->

<!-- <app-card8></app-card8> -->

<!-- <app-card9></app-card9> -->

<!-- <app-card10></app-card10> -->

<!-- <app-card13></app-card13> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-admin-ticket-modal></app-admin-ticket-modal> -->

<app-navbar></app-navbar>
<app-card13></app-card13>