<section class="w-100" dir="rtl">
    <div>
        <p class="h4">تیکت ها</p>
        <span class="Line position-absolute"></span>
    </div>

    <div class="mt-4">
        <app-fillter></app-fillter>
    </div>

    <div>

        <div class="d-flex justify-content-between">

            <div>

                <div>
                    <app-card13></app-card13>
                </div>
    
            </div>

            
            <div class="col-2 d-flex flex-column align-items-center bg-white shadow-sm p-3 h-25 mx-2 rounded">
                <p class="h5">اضافه کردن پروژه</p>
                <div class="d-flex justify-content-between mt-3 w-100">
                    <p class="fs-m-3">پیام به پشتیبانی</p>
                    <mat-icon style="color: #FFC93C;">loupe</mat-icon>
                </div>

                <div class="d-flex justify-content-between mt-3 w-100">
                    <p class="fs-m-3">پروژه</p>
                    <mat-icon style="color: #FFC93C;">loupe</mat-icon>
                </div>

            </div>
            
        </div>
        
    </div>

</section>