<h1>login or sign up</h1>

<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div [formGroup]="registerForm" class="col-4">
            <h4>for sign up:</h4>
            <label for="">Your Name:</label>
            <input class="form-control" type="text" formControlName="name">

            <label for="">Your Family:</label>
            <input class="form-control" type="text" formControlName="family">

            <label for="">Your Username:</label>
            <input class="form-control" type="text" formControlName="userName">

            <label for="">your Password</label>
            <input class="form-control" type="password" name="" id="" formControlName="password">

            <label for="">Confirm Password</label>
            <input class="form-control" type="password" name="" id="" formControlName="conmfrimPassword">

            <label for="">Your Number</label>
            <input class="form-control" type="text" name="" id="" formControlName="mobile">
        
            <label for="">Your Email</label>
            <input class="form-control" type="email" name="" id="" formControlName="email">

            <label for="">Account type</label>
            <input class="form-control" type="number" name="" id="" formControlName="accountType">
        
            <button class="mt-4 btn btn-primary" (click)="regesterUser()">sign up!</button>
        </div>
        
        <div  [formGroup]="loginForm" class="col-4">
            <h4>for login:</h4>
            <label for="">Your Username</label>
            <input class="form-control" type="text" name="" id="" formControlName="userName">
        
            <label for="">your Password</label>
            <input class="form-control" type="password" name="" id="" formControlName="password">

            <button class="btn btn-primary mt-4" (click)="login()">Login!</button>
        </div>
        
    </div>
</div>