<section class="container mt-3">
    <app-fillter></app-fillter>
    <div class="d-flex flex-column">
        <app-card9 class="mt-1" [editUrl]="'/admin/admin/management/edit'" [openDialog]="openDialog"></app-card9>
        <app-card9 class="mt-1" [editUrl]="'/admin/admin/management/edit'" [openDialog]="openDialog"></app-card9>
        <app-card9 class="mt-1" [editUrl]="'/admin/admin/management/edit'" [openDialog]="openDialog"></app-card9>
        <app-card9 class="mt-1" [editUrl]="'/admin/admin/management/edit'" [openDialog]="openDialog"></app-card9>
        <app-card9 class="mt-1" [editUrl]="'/admin/admin/management/edit'" [openDialog]="openDialog"></app-card9>
    </div>
</section>