<section class="d-flex container">
    
    <div class="col-8 shadow mx-3 p-4">
        <div class="d-flex col-12" dir="rtl">
            <div class="col-2">
                <p class="h3">عنوان تیکت</p>
                <p class="fs-m-3 mt-3">زمان درخواست</p>
                <div class="d-flex justify-content-between ">
                    <p  class="fs-m-3 mt-2">وضعیت</p>
                    <p  class="fs-m-3 mt-2">درحال انجام:</p>
                </div>
                <p  class="fs-m-3 text-secondary"> شرکت ایده گزین مارک</p>
            </div>
            
            <div class="col-8 fs-m-3 mx-5">
             <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت </p>
                <div></div>
            </div>
        </div>
        <div class="d-flex">
            <mat-icon class="mt-1">create</mat-icon>
            <mat-icon class="mx-3 mt-1">error_outline</mat-icon>
        </div>
    </div>
    
    <div class="col-3 shadow p-2" dir="rtl">
        <div class="mt-4 d-flex justify-content-center">
            <img class="shadow rounded-circle" src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" width="90px" height="100px">
        </div>
    
        <div class="d-flex  justify-content-between mt-5 mx-3">
            <div>
                <p>تماس با پشتیبانی</p>
            </div>
    
            <div class="d-flex">
                <div>
                    <p>09154710879</p>
                </div>
                <div>
                    <mat-icon class="mx-1"> call</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>
