<section dir="rtl" class="container rounded bg-white d-flex flex-column justify-content-around">
    <!-- tittle -->
    <div> 
        <p class="h4 mb-3">ساخت دسته بندی جدید</p>
        <p class="text-secondary">تیتر و اسم انتخابی خود را در فیلد مد نظر بنویسید</p>
    </div>
    <!-- inputs -->
    <div class=" d-flex justify-content-between">

        <div class="input-size">
            <label class="text-secondary mb-2" for="">نام پروژه</label>
            <input class="form-control" type="text">
        </div>

        <div class="input-size">
            <label class="text-secondary mb-2" for="">نام صاحب پروژه</label>
            <input class="form-control" type="text">
        </div>

    </div>
    <!-- button -->
    <div class="d-flex justify-content-end">

        <button class="btn btn-secondary px-4 mx-3">انصراف</button>
        <button class="btn btn-primary px-5">ثبت</button>

    </div>

</section>