<app-adminuser-header></app-adminuser-header>
<section dir="rtl" class="container d-flex flex-column">
    <p class="h4" style="position: absolute;top: 20px;">پرداخت</p>
    <app-card10 class="mb-3 mt-1" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mb-3" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mb-3" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mb-3" [openDialog]="openDialog"></app-card10>
    <app-card10 class="mb-3" [openDialog]="openDialog"></app-card10>
</section>