<div class="w-100 d-flex justify-content-center align-items-center flex-column">
  <div style="position: relative;">
    <img [src]="selectedImg.url" width="1400px" alt="">
    <div style="top: 45%;left: 50px; right: 50px; position: absolute;z-index: 99;">
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary btn-lg">
          <</button> <button class="btn btn-primary btn-lg">>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-5">
    <img *ngFor="let photo of photos; let i = index" [src]="photo.url" class="col-3" alt=""
      (click)="selectedPhoto(i + 1)">
  </div>
</div>