<section class="container mt-3" dir="rtl">
    <div class="">

        <div class="d-flex justify-content-between" dir="rtl">
            <div class="col-1">
                <img class="rounded mb-4" src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" width="100px">
            </div>
    
            <div class="  col-2 d-flex align-items-center flex-column rounded bg-dark text-white justify-content-center fs-m-2 mb-4">
                    <p class="mt-1">{{name}}</p>
                    <p class="text-secondary">ziba</p>
            </div>

            <div class="col-8 bg-dark text-white p-1 rounded  d-flex justify-content-between mb-4 " dir="rtl">
                <div class="col-4  align-items-center mt-3 mx-3" style="font-size: 9px;">
                    <p>نام کاربری :{{userName}}</p>
                    <p>تاریخ لاگ این :{{loginDate}}</p>
                    <p>واریزی :{{deposit}}</p>
                </div>
    
                <div class=" col-4 align-items-center mt-3" style="font-size: 9px;">
                    <p>شماره :{{number}}</p>
                    <p>دسته بندی :{{grouping}}</p>
                    <p>وضعیت :{{condition}}</p>
                </div>
            </div>
        </div>


    </div>

    <div class="p-4 shadow-sm rounded position-relative bg-white w-100" dir="rtl">
        <p class="fs-m-3 fw-bold">{{projectName}}</p>
        <span class="line "></span>
        <p class="fs-m-2">{{description}}</p>
    </div>

    <div class="mt-4 w-100" dir="ltr">
        <button class="btn btn-danger btn-sm  px-5 ">بازگشت</button>
        <button class="btn btn-primary btn-sm px-5 mx-2 ">اعمال تغیرات</button>
    </div>
</section>

