<app-navbar class="d-flex justify-content-center" [dark]="true"></app-navbar>

<div class="container">
  <div class="d-flex justify-content-between" dir="rtl">
    <div style="color: gray;" class="p-5">
      <div>
        <p style="font-size: small;">نمونه کارها شامل لینک هستند و شما می توانید به صورت انلاین آت ها را مشاهده کنید.</p>
        <div class="shadow d-flex justify-content-around rounded p-2 bg-white">
          <label for="" class="ms-4">سایت های آنلاین</label>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="mt-4">
        <p class="mt-2">مشاهده بر اساس</p>
        <div class="shadow d-flex flex-column rounded bg-white">
          <div class="d-flex justify-content-around rounded p-2 bg-white">
            <label for="" class="ms-4">زمان</label>
            <mat-slide-toggle></mat-slide-toggle>
          </div>

          <div class="d-flex justify-content-around rounded p-2 bg-white">
            <label for="" class="ms-4">لایک</label>
            <mat-slide-toggle></mat-slide-toggle>
          </div>

          <div class="d-flex justify-content-around rounded p-2 bg-white">
            <label for="" class="ms-4">بازدید</label>
            <mat-slide-toggle></mat-slide-toggle>
          </div>
        </div>
      </div>
      <div>

        <div class="mt-5">
            <mat-accordion (click)="openPannel()">
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="color: gray;">
                <mat-expansion-panel-header>
                  <mat-panel-title style="color: gray;">
                    دسته ها
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
        </div>

      </div>
      <div class="mt-4">
        <p>توجه داشته باشید این لیست تنها جهت آرشیو نمونه کارهای تیم نیکد می باشد</p>
        <p> امکان دارد برخی از نمونه کارها پایین آمده و یا حتی رونمایی نشده باشند.</p>
        <p>برای دریافت کامل نمونه کارها با تیم پشتیبانی در ارتباط باشید.</p>
      </div>
    </div>




    <div class="my-5 col-9">
      <h4 class="text-secondary mb-5">نمونه کار طراحی سایت</h4>
      <app-card4 *ngFor="let card of cards$|async" [title]="card.title" [like]="card.like" [siteLink]="card.url">
      </app-card4>
    </div>
  </div>
</div>
