<div class="p-4 rounded w-100" (mouseenter)="cardHover()"
 (mouseleave)="cardInHover()" [class]="[CardHover ,textHover, shadowHover]"
  style="transition: .3s ease-in-out;cursor: pointer; position: relative;"
  [routerLink]="[link]">
    <div class="d-flex justify-content-end me-4" [class]="textHover">
        <mat-icon style="font-size: 50px; ">dashboard</mat-icon>
    </div>
    <div class="d-flex justify-content-end mt-5 ">
    <h3 dir="rtl" class="col-6 h4">{{ title }}</h3>
       <div class="circle"></div>
    </div>
    <div class="d-flex justify-content-end my-2" style="position: relative;">
        <span style="width:400px ; height: 2px; position: relative; background-color: rgb(254, 159, 18); " [style]="lineHover" ></span>
    </div>
   <p dir="rtl" class="fw-light">{{ discription }}</p>
</div>