<!-- Explain Side -->
<section class="shadow-sm rounded p-3 w-100" dir="rtl">
    <div class="d-flex justify-content-between">
        <div>
            <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="60px" alt="">
            <p class="fs-m-3 fw-bold mt-3">سینا پورجلال</p>
            <p class="fs-m-3">درخواست مشاوره تلفنی</p>
        </div>

        <div class="col-10">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
        </div>
    </div>

    <div class="mt-3" dir="ltr">
        <div class="d-flex col-1 align-items-center justify-content-between" dir="rtl">
            <mat-icon class="text-danger fs-m-4">delete_outline</mat-icon>
            <button class="btn btn-primary">پاسخ</button>
        </div>
    </div>
</section>

<!-- Answer Side -->
<section class="shadow-sm rounded p-3 w-100" dir="rtl">
    <div class="d-flex justify-content-between">
        <div>
            <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="60px" alt="">
            <p class="fs-m-3 fw-bold mt-3">سینا پورجلال</p>
            <p class="fs-m-3">درخواست مشاوره تلفنی</p>
        </div>

        <div class="col-10">
            <label for="exampleFormControlTextarea1" class="form-label">توضیحات</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
    </div>

    <div class="mt-3" dir="ltr">
        <div class="d-flex col-1 align-items-center justify-content-between" dir="rtl">
            <mat-icon class="text-danger fs-m-4">delete_outline</mat-icon>
            <button class="btn btn-primary">پاسخ</button>
        </div>
    </div>
</section>

