<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>iconname</th>
            <th>site section</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts.data">
          <td>{{ forecast["id"] }}</td>
          <td>{{ forecast["title"] }}</td>
          <td>{{ forecast["description"] }}</td>
          <td>{{ forecast["siteSectionName"] }}</td>
          <td>{{ forecast["iconName"] }}</td>
        </tr>
    </tbody>
</table>
