<section dir="rtl" class="d-flex">
    <div class="col-6 p-5">
        <div dir="rtl" class="">
            <h1>مشاوره تلفنی</h1>

                <div class="d-flex">
                    <div class="">
                        <label for="">نام</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="mx-4">
                        <label for="">نام خانوادگی</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

            <label for="">شماره تلفن</label>
            <input type="text" class="form-control">
        </div>

        <div dir="rtl" class="mt-3">
            <p>توضیحات</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="d-flex mt-5">
            <button class="btn btn-primary mx-3">ثبت</button>
            <button class="btn btn-primary mx-3">خروج</button>
        </div>

    </div>


    <div  class="col-6 bg-dark rounded-end p-5" style="color:white;">
        <h1>اطلاعات</h1>
        <p>lkjo;iuoiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuo</p>

        <div class="mt-5" dir="ltr">
            <div class="d-flex">
                <img src="../../../../assets/imgs/mail-icon.png" alt="" width="50px">
                <p class="mx-5 mt-3">faezeebolghanabady@gmail.com</p>
            </div>

            <div class="d-flex my-5">
                <img src="../../../../assets/imgs/whatsapp-icon-graan.png" alt="" width="50px">
                <p class="mx-5 mt-3">09154710879</p>
            </div>

            <div class="d-flex">
                <img src="../../../../assets/imgs/telegram-icon-blue.png" alt="" width="50px">
                <p class="mx-5 mt-3"> 09151503885 </p>
            </div>
        </div>

    </div>
</section>