<section class="d-flex" dir="rtl">
    <div class="col-2">

        <div class="d-flex" dir="rtl">
            <div class="col-5">
                <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" width="40px">
            </div>
    
            <div class="col-7">
                <p>فایزه </p>
                <p>ziba</p>
            </div>
        </div>

        <div class="col- bg-dark text-white p-4 rounded d-flex" dir="rtl">
            <div class="col-6">
                <p>نام کاربری</p>
                <p>تاریخ لاگ این</p>
                <p>واریزی</p>
            </div>

            <div class="col-6">
                <p>شماره</p>
                <p>دسته بندی</p>
                <p>وضعیت</p>
            </div>
        </div>

    </div>

    <div class="col-8" dir="rtl">
        <p class="h1 sm-1">اسم پروژ ای که دارد</p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
    </div>

    <div class="col-2">
        <div>
            <button class="btn btn-primary w-100">ثبت پاسخ</button>
            <button class="btn btn-secondary w-100">ویرایش سریع</button>
            <button class="btn btn-outline-primary w-100">مشاهده فایل ارسالی</button>
        </div>

        <div class="d-flex w-100">
            <button class="btn btn-danger mx-2 mt-3">حذف درخواست</button>
            <button class="btn btn-danger mt-3">ارسال پاسخ</button>
        </div>
    </div>
</section>
