<section class="bg-white rounded p-3">
    <div class="d-flex justify-content-between" dir="rtl">
        <!-- Section 1 -->
        <div class="col-5">
            <div class="d-flex">
                <div>
                    <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="45px" alt="">
                </div>
                <div class="mx-2">
                    <div class="fs-m-3 fw-bold">سینا پورجلال</div>
                    <div class="fs-m-2">ادمین</div>
                </div>
            </div>

            <div class="mt-2">
                <p style="font-size: 12px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="col-6">
            <select class="form-select form-select-sm" dir="ltr"  aria-label=".form-select-sm example">
                <option  selected>تغییر وضعیت کاربر :</option>
                <option  value="1">One</option>
                <option  value="2">Two</option>
                <option  value="3">Three</option>
              </select>

              <div class="mt-4">
                <label for="exampleFormControlInput1"  class="form-label fs-m-3">تغییر  آی دی :</label>
                <input class="form-control form-control-sm" type="text" placeholder="id" aria-label=".form-control-sm example">
              </div>

        </div>

    </div>
        <div class="d-flex justify-content-start">
            
            <button class="btn btn-primary" mat-dialog-close>ثبت</button>
            <button class="btn btn-primary mx-2">ویرایش جزئیات</button>
            <button class="btn btn-secondary" mat-dialog-close>خروج</button>
            
        </div>
</section>
