<section class="bg-white border rounded col-6 p-3">
    <div class="d-flex justify-content-between" dir="rtl">
        <!-- Section 1 -->
        <div class="col-5">
            <div class="d-flex">
                <div>
                    <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="45px" alt="">
                </div>
                <div class="mx-2">
                    <div>سینا پورجلال</div>
                    <div>ادمین</div>
                </div>
            </div>

            <div class="mt-2">
                <p style="font-size: 12px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="col-6">
            <div class="btn-group w-100">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                  تغییر وضعیت کاربر
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                  <li><button class="dropdown-item" type="button">Action</button></li>
                  <li><button class="dropdown-item" type="button">Another action</button></li>
                  <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
              </div>

              <div class="mt-4">
                <label for="exampleFormControlInput1" class="form-label">  تغییر  آی دی :</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
        </div>

    </div>
        <div class="d-flex justify-content-between col-5">
            
            <button class="btn btn-primary">ثبت</button>
            <button class="btn btn-primary">ویرایش جزئیات</button>
            <button class="btn btn-secondary">خروج</button>
            
        </div>
</section>
