<section class="container d-flex justify-content-between mt-5" dir="rtl">
    <div class="col-9">

        <div>

            <form>
                <div class="d-flex justify-content-between form-row">
                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">نام پروژه</label>
                      <input class="mb-2" type="tel" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label class="mb-2" for="inputPassword4">نام صاحب کار</label>
                        <input class="mb-2" type="text" class="form-control" id="inputPassword4" placeholder="">
                    </div>
                    
                  </div>

                <div class="d-flex mt-4 justify-content-between form-row">

                    <div class="form-group col-12">
                      <label class="mb-2" for="inputEmail4">آدرس سایت</label>
                      <input class="mb-2" type="text" class="form-control" id="inputEmail4" placeholder="">
                    </div>

                </div>

              
                <div class="mt-4">
                    <label for="exampleFormControlTextarea1" class="form-label">توضیحات</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                  <div class="d-flex mt-4 justify-content-between form-row">

                    <div class="form-group col-12">

                        <label class="mb-2" for="inputEmail4">نوع</label>

                        <div class="d-flex justify-content-between col-8">
                            
                            <div class="">
                                
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault1">
                                <label class="form-check-label" for="flexCheckDefault1">سایت فروشگاهی</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault2">
                                <label class="form-check-label" for="flexCheckDefault2">سایت خدماتی</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2" id="flexCheckDefault3">
                                <label class="form-check-label" for="flexCheckDefault3">سایت رسمی</label>
                            </div>

                        </div>

                    </div>

                    

                </div>

                <div class="d-flex mt-4 justify-content-between form-row">

                    <div class="form-group col-12">

                        <label class="mb-2" for="inputEmail4">امکانات</label>

                        <div class="d-flex justify-content-between col-8">
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault4">
                                <label class="form-check-label" for="flexCheckDefault4">آنگولار</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault5">
                                <label class="form-check-label" for="flexCheckDefault5">تولید محتوا</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault6">
                                <label class="form-check-label" for="flexCheckDefault6">طراحی اختصاصی</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault7">
                                <label class="form-check-label" for="flexCheckDefault7">بوت استرپ</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2" id="flexCheckDefault8">
                                <label class="form-check-label" for="flexCheckDefault8">طراحی لوگو</label>
                            </div>

                        </div>

                    </div>

                </div>

            </form>

        </div>

        <!-- باتن های پایین تصویر -->
        <div dir="ltr">
            <div class="mt-4 col-2 d-flex justify-content-between">
                <button class="btn btn-primary" (click)="essSer.back()">ثبت نهایی</button>
                <button class="btn btn-secondary" (click)="essSer.back()">خروج</button>
            </div>
        </div>

    </div>

    <div class="col-4">

        <div class="d-flex flex-column justify-content-center align-items-center">

            <div>
                <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="75px" alt="">
            </div>
            <!-- فایل پیوست -->
            <div class="mt-2">
                <button class="" class="btn btn-primary">تغییر فایل لوگو</button>
            </div>

            <div class="mt-2">
                <p class="fs-m-2">فایل پیوست پروفایل نباید بیشتر از 3 مگابایت باشد</p>
            </div>
           <!-- فایل قرارداد -->
            <div class="mt-2">
                <button class="" class="btn btn-primary">تغییر فایل هدر</button>
            </div>

            <div class="mt-2">
                <p class="fs-m-2">فایل پیوست پروفایل نباید بیشتر از 3 مگابایت باشد</p>
            </div>

            <div class="mt-2">
                <button class="" class="btn btn-primary">درج فایل عکس های نمونه کار</button>
            </div>

            <div class="mt-2">
                <p class="fs-m-2">فایل نمونه کار پروفایل نباید بیشتر از 3 مگابایت باشد</p>
            </div>

            <!-- زمانی که عکسی برای نمونه کار انتخاب می شود -->
            <div class="d-flex">
                <div>
                    <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="75px" alt="">
                </div> 
                
                <div>
                    <img class="rounded mx-3" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="75px" alt="">
                </div>

                <div>
                    <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" width="75px" alt="">
                </div>
            </div>
        </div>
        
    </div>
    
</section>

