<section class="d-flex container" dir="rtl">

    <div class="container" dir="rtl">
        <p class="mt-4 h3 fw-light">جزیات کاربر</p>
        <div class="d-flex mt-4">
            <img class="rounded" src="../../../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" width="90px">
            <div class="mx-3 d-flex flex-column justify-content-between">
                <p class="fs-m-5 h5 mt-1">فایزه بلقان آبادی</p>
                <p class="fs-m-3 fw-light">id شماره:</p>
            </div>
        </div>
    
        <div class="mt-4">
            <p class="mt-4 fs-m-3 fw-light">وضعیت پروژه :فعال</p>
            <p class="mt-4 fs-m-3 fw-light">شماره تلفن همراه :09154710879</p>
            <p class="mt-4 fs-m-3 fw-light">ایمیل :faezebold.com</p>
            <p class="mt-4 fs-m-3 fw-light">تلفن ثابت: ۴۲۲۳۳۹۷۸</p>
            <p class="mt-4 fs-m-3 fw-light">سن :21</p>
        </div>
    
    </div>
    
    <div class="mt-5" dir="rtl">
        <div class="d-flex justify-content-between">
            <div class="mt-5">
                <p class="mt-4 h5">جزیات پروژه</p>
                <p class="mt-4 fs-m-3 fw-light">سایت فروشگاه</p>
            </div>
            <div class="mt-5">
                <img class="rounded" dir="rtl" src="../../../../../assets/imgs/zplogo.png" alt="" width="100">
            </div>
        </div>

        <div class="">
            <p class="mt-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
            <p class="mt-5 fs-m-3 fw-light"> شماره تلفن همراه:09154710879 </p>
            <p class="mt-4 fs-m-3 fw-light">تلفن ثابت: ۴۲۲۳۳۹۷۸</p>
            <p class="mt-4 fs-m-3 fw-light">سن :21</p>
        </div>

        <div class="mt-5" dir="ltr">
            <button class="btn btn-primary mx-3 px-4">ویرایش</button>
            <button class="btn btn-dark px-4" mat-dialog-close>خروج</button>
        </div>
    </div>
</section>
