<section dir="rtl" class="size bg-white container d-flex flex-column justify-content-around">
    <!-- tittle -->
    <p class="h5">ساخت نقش</p>
    <!-- inputs -->
    <div class="d-flex justify-content-between">

        <div class="col-6 w-75">
            <label class="text-secondary mb-2" for="">تیتر</label>
            <input class="form-control h-50" type="text">
        </div>
        <div class="col-6 ">
            <label class="text-secondary mb-2" for="">نام</label>
            <input class="form-control h-50" type="text">
        </div>

    </div>
    <!-- textarea -->
    <div>
        <label class="text-secondary mb-2" for="">توضیحات</label>
        <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
    </div>
    <!-- btns -->
    <div class="d-flex justify-content-end fs-m-1 ">
        <button class="btn btn-secondary px-4 fs-m-2 mx-2">خروج</button>
        <button class="btn btn-primary px-4 fs-m-2">ثبت</button>
    </div>
