<section style="position: relative;" class="countainer-fluid">
    <app-adminuser-navbar></app-adminuser-navbar>
    <app-adminuser-header></app-adminuser-header>
    
    <div class="container d-flex flex-wrap">
        <app-card10 class="col-6"></app-card10>
        <app-card10 class="col-6"></app-card10>
        <app-card10 class="col-6"></app-card10>
        <app-card10 class="col-6"></app-card10>
    </div>

    <div class="container d-flex">
        <app-card8 class="col-3"></app-card8>
        <app-card8 class="col-3"></app-card8>
        <app-card8 class="col-3"></app-card8>
        <app-card8 class="col-3"></app-card8>
    </div>

    <div class="container d-flex flex-wrap">
        <app-card10 class="col-6"></app-card10>
        <app-card10 class="col-6"></app-card10>
        <app-card10 class="col-6"></app-card10>
        <app-card10 class="col-6"></app-card10>
    </div>
</section>