<app-adminuser-header></app-adminuser-header>
<section dir="rtl" class="container">
    
    <div class="my-4">
        <p class="h5 mb-3">پیش نمایش پروژه‌ها</p>
        <div class="d-flex my-3">
                <app-card10 class="w-50 ms-4"></app-card10>
                <app-card10 class="w-50"></app-card10>
        </div>
        <div class="d-flex my-3">
                <app-card10 class="w-50 ms-4"></app-card10>
                <app-card10 class="w-50"></app-card10>
        </div>
        <div class="d-flex text-secondary justify-content-end my-2">
            <p [routerLink]="['/admin/admin/project']" style="cursor: pointer;">مشاهده بیشتر</p>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
    </div>
        
    <div class="my-5 h">
        <p class="h5 mb-3">تیکت‌های دریافتی</p>
        <div class=" d-flex justify-content-between ">
            <app-card8 class="w-25 ms-4"></app-card8>
            <app-card8 class="w-25 ms-4"></app-card8>
            <app-card8 class="w-25 ms-4"></app-card8>
            <app-card8 class="w-25"></app-card8>
        </div>
        <div class="d-flex text-secondary justify-content-end margin-more">
            <p [routerLink]="['/admin/ticket/ticket']" style="cursor: pointer;">مشاهده بیشتر</p>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
    </div>

    <div class="mb-4">
        <p class="h5 mb-3">پیش نمایش پروژه‌ها</p>

        <div class="d-flex my-3">
                <app-card10 class="w-50 ms-4"></app-card10>
                <app-card10 class="w-50"></app-card10>
        </div>

        <div class="d-flex my-3">
                <app-card10 class="w-50 ms-4"></app-card10>
                <app-card10 class="w-50"></app-card10>
        </div>

        <div class="d-flex text-secondary justify-content-end ">
            <p [routerLink]="['/admin/admin/project']" style="cursor: pointer;">مشاهده بیشتر</p>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </div>

    </div>

    <p class="d-flex justify-content-center mb-2 text-secondary fs-m-1">@copy Right by Sipa Production</p>

</section>