<!-- sina p -->
<section dir="rtl" class="modal-size container shadow-sm">
    <!-- h1 -->
    <div class="d-flex">

        <div class="col-6">
            <p class="h5 my-3">جزئیات پروژه</p>
            <p class="fs-m-3 text-secondary">دیجی کالا</p>
            <p class="fs-m-3 text-secondary">سایت فروشگاهی</p>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-end">
            <img class="rounded" style="width: 80px;" src="http://localhost:4200/assets/imgs/bill-gates-wealthiest-person.jpg" alt="">
        </div>

    </div>
    <!--lorem  -->
    <p class="fs-m-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quos necessitatibus aliquid debitis perspiciatis in tenetur voluptate, cumque, ipsum facilis amet recusandae nihil eveniet, accusamus optio quaerat omnis. Voluptas, suscipit!</p>
    <!-- call -->
    <div class="d-flex fs-m-2 my-4">

        <div class="col-6">
            <p>شماره تلفن</p>
            <p>ایمیل</p>
            <p>تلفن ثابت</p>
        </div>

        <div dir="ltr" class="col-6">
            <p>09150755039</p>
            <p>sinapourjalala18@gmail.com</p>
            <p>09751684598</p>
        </div>

    </div>
    <!-- btns -->
    <div dir="ltr">

        <button class="btn btn-primary fs-m-2 px-4">ویرایش</button>

        <button class="btn btn-secondary fs-m-2 px-4 mx-3">خروج</button>

    </div>

</section>