<app-navbar class="d-flex justify-content-center" [dark]="true"></app-navbar>

<div class="container mt-5">
    <div *ngIf="userInformation|async as user">
        <h1>Welcome {{ user.firstName }} {{ user.lastName }}!</h1>
        <div class="d-flex mt-3">
            <div>
                <p>{{ user.email }}</p>
                <p>{{ user.mobile }}</p>
            </div>
    
            <div class="ms-3">
                <p>Your Account Level is {{ user.accountType }}</p>
                <p>Buy Primium Now!</p>
            </div>
        </div>
    </div>
    
    <div class="mt-5">
        <button class="btn btn-danger" (click)="logout()">Logout!</button>
    </div>
</div>

