<div>
    <app-navbar class="d-flex justify-content-center" [dark]="false"></app-navbar>

    <div class="header d-flex">
        <div class="col-6">
            <img src="../../../../assets/imgs/header.png" style="width: 100%;">
        </div>
        
        <div class="d-flex col-5 justify-content-center align-items-center flex-column">
            <div class="text-white mb-5" dir="rtl">
                <h1>از صفر تا صد <span class="text-primary">طراحی وبسایت خود</span> را<br> به ما بسپارید!</h1>
                <h5 class="fw-lighter mt-5">وظیفه ما کمک به شما برای ساخت یک برند بی نقص و عالی است!</h5>
            </div>

            <div class="d-flex justify-content-center align-items-center
                        fw-lighter bg-secondary p-4 mt-5" dir="rtl" style="border-radius: 25px;">
                <div class="d-flex px-3">
                    <img src="../../../../assets/imgs/Rectangle-2.png" width="65px" height="65px">
                    <div>
                        <p class="text-white">تکنولوژی</p>
                        <p class="text-primary">Angular</p>
                    </div>
                </div>

                <div class="d-flex px-3">
                    <img src="../../../../assets/imgs/Rectangle-3.png" width="65px" height="65px">
                    <div>
                        <p class="text-white">مدت زمان</p>
                        <p class="text-primary">یک ماهه</p>
                    </div>
                </div>

                <div class="d-flex px-3">
                    <img src="../../../../assets/imgs/Rectangle-1.png" width="65px" height="65px">
                    <div>
                        <p class="text-white">نوع پروژه</p>
                        <p class="text-primary">فروشگاهی
                        </p>
                    </div>
                </div>
                
                <button class="btn btn-primary btn-lg px-3" [routerLink]="['/feature']">مشاهده</button>
            </div>
        </div>

    </div>
</div>