<section dir="rtl" class="d-flex container">
    <p class="h4" style="position: absolute;top: 20px;">پرداخت</p>
    <div class="col-9 d-flex flex-column justify-content-end card-space">
        <app-card9 class="mt-2"></app-card9>
        <app-card9 class="mt-2"></app-card9>
        <app-card9 class="mt-2"></app-card9>
        <app-card9 class="mt-2"></app-card9>
        <app-card9 class="mt-2"></app-card9>
    </div>

    <div class="bg-white col-3 mt-2 box-space rounded shadow-sm h container">
        
        <div class="d-flex align-items-center justify-content-between ">

            <p class="space-check fs-m-2 text-secondary">مرتب‌سازی بر اساس زمان</p>

            <div class="form-check form-switch checkbox-w">
                <mat-slide-toggle></mat-slide-toggle>
            </div>

        </div>

        <div class="d-flex align-items-center justify-content-between ">

            <p class="space-check fs-m-2 text-secondary">مرتب‌سازی پرسش و پاسخ ها</p>

            <div class="form-check form-switch checkbox-w">
                <mat-slide-toggle></mat-slide-toggle>

            </div>

        </div>

        <div class="d-flex align-items-center justify-content-between ">

            <p class="space-check fs-m-2 text-secondary">مرتب‌سازی بر اساس پروژه های فعال</p>

            <div class="form-check form-switch checkbox-w">
                <mat-slide-toggle></mat-slide-toggle>

            </div>

        </div>

        <div class="d-flex justify-content-center mt-2">

            <button class="btn-primary fs-m-2 p-1 btn-size rounded">اعمال</button>

        </div>

    </div>

        

</section>