<app-navbar class="d-flex justify-content-center" [dark]="true"></app-navbar>

<div class="container my-5" dir="rtl">
    
    <div></div>

    <div>
        <h4 class="my-4"> قیمت سایت</h4>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
    </div>

    <div class="my-5">
        <div class="d-flex justify-content-between my-4">
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      سایت خدماتی
                    </label>
                  </div>
                  <div class="form-check mx-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      سایت فروشگاهی
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        سایت معمولی
                    </label>
                  </div>
            </div>

              <div class="d-flex">
                <i class="fa fa-brands fa-microsoft"></i>
                <i class="fa fa-thin fa-grid"></i>
              </div>

        </div>

          <div class="  d-flex justify-content-start flex-wrap ">  
            <div class="d-flex justify-content-center flex-wrap">
              <!-- <div *ngIf="flag"> -->
                <app-card2 class="col-3 m-4" *ngFor="let card of Cards$ |async" [discription]="card.discription" 
                [title]="card.title"></app-card2>
              <!-- </div> -->
              <div *ngIf="!flag">
                <app-card3 *ngFor="let card of Cards$ |async" [discription]="card.discription"   [title]="card.title" > </app-card3>
              </div>
          
            </div>
          </div>
        </div>
        
              <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center col-10 flex-column">
                  <textarea class="form-control" name="" id="" cols="150" rows="10" placeholder="توضیحات شما "></textarea>
                  <div class="d-flex justify-content-start mt-5">
                    <button class="btn btn-primary btn-lg px-3">ثبت سفارش</button>
                    <button class="btn btn-primary btn-lg px-3 me-3">ریست</button>
                  </div>
                  <div class="mt-5 d-flex justify-content-start flex-column">
                    <h4>نحوه پرداخت چگونه می‌باشد؟</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
    
                    <h4 class="mt-5">هزینه طراحی سایت چگونه تعیین می‌شود؟</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                  </div>
                </div>
                
              </div>
              

                
</div>

<app-footer></app-footer>