<app-navbar class="d-flex justify-content-center" [dark]="true"></app-navbar>

<div class="container my-5 mb-lg" dir="rtl">
    
    <div></div>

    <div>
        <h4 class="my-4">امکانات</h4>
        <p class="fw-light">امکاناتی که برای سایت خود می‌خواهید را با دقت انتخاب کنید.<br>امکاناتی که انتخاب کنید بسته به نیاز شما متغیر و تماما قابل اجرا هست و کافی است شما بر روی هر مورد کلیک و انتخاب کنید. دقت کنید که به طور پیش‌فرض برای هر دسته از سایت امکاناتی به شما پیشنهاد می‌شود که می‌توانید به طور دلخواه آن‌هارا تغییر دهید.  </p>
    </div>

    <div class="mt-lg">
        <div class="d-flex justify-content-between my-4">
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      سایت خدماتی
                    </label>
                  </div>
                  <div class="form-check mx-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      سایت فروشگاهی
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                    <label class="form-check-label" for="flexCheckChecked2">
                        سایت معمولی
                    </label>
                  </div>
            </div>

              <div class="d-flex">
                <i class="fa fa-brands fa-microsoft"></i>
                <i class="fa fa-thin fa-grid"></i>
              </div>

        </div>

          <div class="  d-flex justify-content-start flex-wrap ">  
            <div class="d-flex justify-content-center flex-wrap">
              <!-- <div *ngIf="flag"> -->
                <app-card2 class="col-3 m-4" *ngFor="let card of Cards$ |async" [discription]="card.discription" 
                [title]="card.title" (click)="addFeature(card.title, card.discription)"></app-card2>
              <!-- </div> -->
              <div *ngIf="!flag">
                <app-card3 *ngFor="let card of Cards$ |async" [discription]="card.discription"   [title]="card.title" > </app-card3>
              </div>
          
            </div>
          </div>
        </div>
        
              <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center col-10 flex-column">
                  <textarea class="form-control" name="" id="" cols="150" rows="10" placeholder="توضیحات شما "></textarea>
                  <div class="d-flex justify-content-start mt-5">
                    <button class="btn btn-primary btn-lg px-3">ثبت سفارش</button>
                    <button class="btn btn-danger btn-lg px-3 me-3" (click)="reset()">ریست</button>
                  </div>
                  <div class="mt-lg d-flex justify-content-start flex-column">
                    <h4>نحوه پرداخت چگونه می‌باشد؟</h4>
                    <p class="fw-light">پس از انتخاب امکانات به شما قیمت نهایی پروژه نشان داده خواهد شد. برای شروع پروژه شما پنجاه درصد قیمت تمام شده را واریز کرده و پروژه شروع به انجام می‌شود. مراحل پروژه در پنل شما قرار می‌گیرد و پس از تایید هر مرحله شما درصدی از مبلغ را واریز می‌کنید. به طور مثال بعد از طراحی رابط کاربری و تایید پروژه از سمت شما، 25 درصد باقی واریز می‌شود. و در مرحله ی آخر شما باقی مانده مبلغ را واریز کرده و پروژه به صورت کامل به شما تحویل داده می‌شود.</p>
                    
                    <h4 class="mt-5">هزینه طراحی سایت چگونه تعیین می‌شود؟</h4>
                    <p class="fw-light">با انتخاب هر مورد شما امکانات خاصی را به سایت خود اضافه می‌کنید. انتخاب هر گزینه نیاز به طراحی و بررسی دارد و پروسه طراحی سایت شما نیز زمان بیشتری خواهد برد. نسبت به امکاناتی که برای سایت انتخاب می‌کنید قیمت تمام شده‌ی سایت شما تغییر می‌کند.</p>
                  </div>
                </div>
                
              </div>
              

                
</div>

<app-footer class="mt-lg"></app-footer>