<app-navbar></app-navbar>

<section class="container my-5"  dir="rtl">
    <h1 class="text-center mb-5">با ما در ارتباط باشید </h1>
    <p class="h4" style="line-height: 40px;">
        چرا آژانس دیجیتال مارکتینگ آی وحید ؟
آژانس دیجیتال مارکتینگ آی وحید نامی قدیمی در عرصه ی راه اندازی کسب و کارهای اینترنتی است که متخصصان جوانش همواره تلاش کرده اند سطح کیفی خدمات خود را بر استانداردهای روز جهان منطبق نمایند. ارائه ی آثار مدرن و ساختارشکن و کسب رضایت حداکثری مشتریان، آی وحید را به برندی محبوب در زمینه ی طراحی دیجیتال تبدیل کرده است. اواخر سال ۱۳۸۹ آغاز فعالیت رسمی ما کلید خورد ، که تا به امروز موفق شده ایم در بالاترین سطح به ارائه ی خدمات تخصصی ادامه دهیم . جالب است بدانید صرف نظر از مسائل حرفه ای، هدف اصلی ما ارتقای سطح راه اندازی یک برند از صفر تا صد در ایران است و طی سالیان اخیر موفق شده ایم این کار را با افزایش سطح استانداردهای تیم خود و رساندن آن به بالاترین سطوح بین المللی انجام دهیم .

بنابراین اگر شما هم قصد دارید کسب و کار اینترنتی خود را گسترش دهید و از یک سایت استاندارد با ظاهری زیبا و متفاوت، کاملا ریسپانسیو، بهینه شده برای موتورهای جست و جو، بر روی یک سیستم مدیریت محتوای سریع و منطبق بر اصول طراحی استاندارد بهره مند شوید، تحقیق ، تحقیق و باز هم تحقیق کنید و اگر ما یکی از انتخاب های شما بودیم از طریق راه های ارتباطی که در سایت موجود است با کارشناسان ما تماس بگیرید
    </p>

    <div class="d-flex justify-content-around p-4 mt-5" (mouseenter)="cardHover()">
        <button class="btn btn-outline-primary col-5 btn-lg " >
            <div class="d-flex justify-content-between mt-2">
                <p class="h4">راه های ارتباطی</p>
                <img src="" alt="">
            </div>
        </button>
        <button class="btn btn-outline-primary col-5 btn-lg ">
            <div class="d-flex justify-content-between mt-2">
                <p class="h4">حضوری</p>
                <img src="" alt="">
            </div>
        </button>
    </div>

</section>


<app-footer></app-footer>