<div >

    <app-navbar class="d-flex justify-content-center" [dark]="true"></app-navbar>

    <section class="container" dir="rtl" style="position: relative;">

        <div class="d-flex justify-content-center mt-5 mb-3">
            <h1>نیکد لذتی زیبا</h1>
        </div>

        <p>
            
    آی وحید، نامی قدیمی در عرصه‌ی طراحی سایت و خدمات گرافیکی است و تجربه همکاری با برندهای نام آشنای موفق و کسب رضایت حداکثری آن ها را در کارنامه ی حرفه ای خود دارد. متخصصان و کارشناسان کاربلد این تیم همواره تلاش کرده‌اند سطح کیفی خدمات خود را با استانداردهای روز جهان منطبق کنند و با ارائه‌ی طراحی های مدرن، ساختارشکن و خلاقانه تجربه ای متفاوت از حضور در دنیای دیجیتال برای مشتریان خود فراهم کنند.
        </p>
        
        <div class="d-flex my-4 flex-column align-items-center">
            <div class="" >
                <img src="../../../assets/imgs/lau-keith-tbBjV1EBMd0-unsplash.jpg" style="border-radius: 1rem !important;" class="bg-primary" width="1200px"  >
            </div>
            <h6 class="mt-5 mb-3">چشم انداز و اهداف نیکد</h6>
        </div>

        <p>
            ما معتقدیم موفقیت زمانی اتفاق می‌افتد که رضایت مشتری در اولویت باشد. برای تیم ما اهمیت دارد که مشتریان شما چه چیزی می‌بینند، چگونه می‌توانند ارتباط بهتری با شما برقرار کنند و در واقع کاربران فضای مجازی را نه به چشم یک رباط و کاربر مجازی، بلکه به عنوان یک کاربر واقعی در نظر می‌گیریم.
آژانس دیجیتال مارکتینگ آی وحید قصد دارد صرف نظر از مسائل حرفه‌ای و ارائه خدمات با کیفیت به مشتری، سطح طراحی وب سایت را در ایران و حتی خاورمیانه ارتقا دهد و طی چند سال اخیر موفق شده است این کار را با افزایش سطح استانداردهای طراحان خود به سطوح بین المللی، عملی کند. تیم ما مدام در حال به روز کردن اطلاعات و مهارت های خود می‌باشد و با ارائه طراحی های جذاب و خلاقانه توانسته نظر مشتریان خارجی را جلب کند. ما امیدواریم با پیاده سازی حرفه ای پروژه های دریافتی بتوانیم اعتماد مشتریان در سطح جهانی را جلب کرده و گامی بلند در جهت رسیدن به هدف اصلی آی وحید برداریم.
        </p>
    </section>

    <div class="d-flex justify-content-around flex-wrap container">
        <!-- <app-card1 *ngFor="let card of cards$ |async" class="col-3 mx-1 my-4"
         [title]="card.title" [discription]="card.discription" [link]="card.url"></app-card1> -->
         <app-card1 class="col-3 mx-2 mt-5"></app-card1>
         <app-card1 class="col-3 mx-2 mt-5"></app-card1>
         <app-card1 class="col-3 mx-2 mt-5"></app-card1>
         <app-card1 class="col-3 mx-2 mt-5"></app-card1>
         <app-card1 class="col-3 mx-2 mt-5"></app-card1>
         <app-card1 class="col-3 mx-2 mt-5"></app-card1>
    </div>

    <section class="container  my-5" dir="rtl">
        <h2 class="mb-4">تاریخچه نیکد</h2>
        <p>تاریخچه آی وحید!
            فعالیت آی وحید از اواخر سال 89 با چند نفر محدود در زمینه ارائه خدمات طراحی سایت کلید خورد. امروز ما یک خانواده بزرگ، جوان، خلاق، ایده پرداز و متخصص و به جرات یکی از بهترین های عرصه ی طراحی سایت و خدمات دیجیتال مارکتینگ هستیم.</p>
    
        <div class="container mt-5">
            <div class="d-flex justify-content-center">
                <div>
                    <app-slider1></app-slider1>
                </div>
            </div>
        </div>
    </section>

    <section class="container col-10">

        <div class="d-flex justify-content-around flex-wrap">
            <app-card7 class="col-5 mx-5 my-4"></app-card7>
            <app-card7 class="col-5 mx-5 my-4"></app-card7>
            <app-card7 class="col-5 mx-5 my-4"></app-card7>
            <app-card7 class="col-5 mx-5 my-4"></app-card7>
            <app-card7 class="col-5 mx-5 my-4"></app-card7>
            <app-card7 class="col-5 mx-5 my-4"></app-card7>
        </div>

    </section>

    <section class="container my-5" dir="rtl">

        <div class="mb-5">
            <h2 class="mb-4"> اعضای نیکد</h2>
            <p>
                تک تک اعضا در آی وحید با دقت و وسواس خاصی انتخاب شده اند و با دنبال کردن مداوم متدها و شیوه های جدید بین المللی، هر روز سطح مهارت های خود را برای ارائه خدمات بهتر به مشتریان عزیز بالا می‌برند.بعد از گذشت ده سال تجربه در زمینه طراحی سایت برای انواع کسب و کارها، ما امروز با ارائه خدمات بازاریابی از جمله سئو تخصصی سایت، تولید محتوای با کیفیت، مشاوره کسب وکار، مدیریت صفحه اینستاگرام و همچنین برگزاری دوره های آموزش طراحی سایت در سطوح مختلف، قصد داریم حضور و کسب درآمد را از فضای وب، برای هموطنان عزیزمان در سراسر ایران و همچنین در سطح خاورمیانه به تجربه ای لذت بخش تبدیل کنیم.
            </p>
        </div>

        <div class="d-flex justify-content-between flex-wrap">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
            <img src="../../../assets/imgs/bill-gates-wealthiest-person.jpg" alt="" class="rounded col-2 mx-4 mt-5">
        </div>

    </section>

    <app-footer></app-footer>

</div>
