.btn-rtl{
    text-align: right;
}
.carv-right-none{
    border-radius:4px 0px 0px 4px ;
    border-right: none;
}
.carv-left-none{
    border-radius:0px 4px 4px 0px ;
}
.btn-size{
    width: 120px;
    height: 35px;
}
textarea{
    resize: none;
}