<div class="shadow p-2">
    <div class="container d-sm-flex justify-content-center mt-5" dir="rtl">
        
            <div class="d-flex justify-content-around col-12 col-sm-6">
                <div class="col-6 col-md-3">
                  <div>
                      <h3 class="fw-bold Color">NICODE</h3>
                  </div>
                  <div>
                    <p>دنیای بدون مرز طراحی و ساخت سایت دنیای بدون مرز طراحی و ساخت سایت</p>
                  </div>
        
                  <div class="d-flex justify-content-around">
                    <img src="" alt="a">
                    <img src="" alt="b">
                    <img src="" alt="c">
                    <img src="" alt="d">
                  </div>  
                </div>
            
                <div class="col-6 col-md-3">
                    <div>
                        <h5 class="fw-bold">درباره ما</h5>
                    </div>
                    <div>
                        <p>این یک متن آزمایشی برای سایت سیپا است. هر گونه کپی برداری و جعل از فناوری این سایت باعث پیگرد قانونی است.</p>
                    </div>
                </div>
            </div>
       
        
        <div class="d-flex justify-content-around col-12 col-sm-8 ">
            <div class="col-6 col-md-3">
                <div>
                    <h5 class="fw-bold">ارتباط با ما</h5>
                </div>
                <div>
                    <p>Sipa@Gmail.com : ایمیل</p>
                </div>
                <div>
                    <p>012912911212 : شماره</p>
                </div>
                <div>
                    <p>آدرس : خراسان رضوی ، نیشابور</p>
                </div>
            </div>
    
            <div class="d-flex col-6 col-md-3">
                <div>
                    <img src="../../../assets/enamad_icon__text_color_blue_1024.png" alt="" width="100px">
                </div>
                <div>
                    <img src="../../../assets/zplogo.png" alt=""  width="100px">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center font mt-5">
        <p>@copy Right by Sipa Production</p>
    </div>
</div>
