<section class="bg-white position-relative border rounded col-6 p-3 w-100" dir="rtl">
    <p class="h4">اسنپ</p>
    <div class="d-flex justify-content-around"> 

        <form class="w-100 mt-2" action="">

                <div class="col-12 ">

                    <label class="mb-2" for="inputPassword4"> وضعیت تیکت</label>
                    <select class="form-select" aria-label=".form-select-sm example" dir="ltr">
                        <option selected></option>
                        <option value="1">در حال انجام</option>
                        <option value="2">اتمام</option>
                        <option value="3">کنسل</option>
                    </select>

                </div>

                <div class="d-flex mt-4 justify-content-between form-row">

                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">نام</label>
                      <input class="mb-2" type="text" class="form-control" id="inputEmail4" placeholder="">
                    </div>

                    <div class="form-group col-5">
                        <label class="mb-2" for="inputEmail4">نام خانوادگی</label>
                        <input class="mb-2" type="text" class="form-control" id="inputEmail4" placeholder="">
                      </div>

                </div>

                <div class="d-flex mt-4 justify-content-between form-row">

                    <div class="form-group col-5">
                      <label class="mb-2" for="inputEmail4">شماره تماس</label>
                      <input class="mb-2" type="text" class="form-control" id="inputEmail4" placeholder="">
                    </div>

                    <div class="form-group col-5">
                        <label class="mb-2" for="inputEmail4">ایمیل</label>
                        <input class="mb-2" type="text" class="form-control" id="inputEmail4" placeholder="">
                      </div>

                </div>

                <div class="mt-4 position-relative">
                    <label for="exampleFormControlTextarea1" class="form-label">توضیحات</label>
                    <button class="btn" style="position: absolute; bottom: 2px; left: 10px; z-index: 1;"><mat-icon style="color: #FFC93C;">launch</mat-icon></button>
                    <textarea class="form-control position-relative" id="exampleFormControlTextarea1"  rows="5"></textarea>
                  </div>


                  <div dir="ltr">
                      <div class="mt-4 col-3 d-flex justify-content-between">
                          <button class="btn btn-primary">ثبت نهایی</button>
                          <button class="btn btn-secondary">خروج</button>
                      </div>
                  </div>
        </form>


    </div>

</section>