<section class="border bg-white p-3 shadow-sm rounded container" style="z-index: -1;" dir="rtl">

    <div class="d-flex justify-content-between my-3">

        <div class="d-flex justify-content-between align-items-start col-2">

            <div>
                <img class="rounded" src="../../../assets/white-exclamitation-mark-logo-bg-green.png" width="70px" alt="">
            </div>

            <div class="mx-3 d-flex flex-column ">
                <p class="h4 mb-3">اسنپ</p>
                <p class="fs-m-3">www.digikala.com</p>
            </div>

        </div>
    
        <div class="col-2">

            <div class=" text-secondary d-flex justify-content-en">
                <p>شرکت ایده گزین ارتباطات روماک</p>
            </div>

            <div class="d-flex align-items-center justify-content-around">
                <p class="fw-bold fs-m-4 ">وضعیت : </p>
                <p class="fs-m-3 text-secondary"> در حال انجام</p>
            </div>

        </div>
        
    </div>

    <div class="my-5 fs-m-3 ">
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
    </div>


    <div class="position-relative my-5" >

        <div class="d-flex justify-content-around text-secondary mt-5">
            <p>طراحی رابط کاربری</p>
            <p class="me-3">بررسی اولیه</p>
            <p class="me-4">طراحی صفحات</p>
            <p>ارتباط و منطق صفحات</p>
            <p>بررسی نهایی</p>
            <p>اتمام و تحویل پروژه</p>
        </div>

        <div class="line position-absolute  " style="top: 75%; right: 8%;"></div>

        <div class="d-flex justify-content-around mb-4 " >
            <span class="rounded-circle px-3 py-3 bg-primary" style="z-index: 1;"></span>
            <span class="rounded-circle px-3 py-3 bg-primary" style="z-index: 1;"></span>
            <span class="rounded-circle px-3 py-3 bg-primary" style="z-index: 1;"></span>
            <span class="rounded-circle px-3 py-3 bg-primary" style="z-index: 1;"></span>
            <span class="rounded-circle px-3 py-3 bg-primary" style="z-index: 1;"></span>
            <span class="rounded-circle px-3 py-3 bg-primary" style="z-index: 1;"></span>
        </div>
        
    </div>
        
    <div class="d-flex justify-content-end mt-5 mb-4">
        <mat-icon class="text-secondary mx-3">filter_none</mat-icon>
        <mat-icon class="text-secondary ">create</mat-icon>
    </div>

</section>